- publicish_project_count = Project.publicish(current_user).count
%h3.page-title 欢迎来到 GitLab！
%p.light 自托管 Git 管理应用。
%hr
%div
  .dashboard-intro-icon
    %i.fa.fa-bookmark-o
  .dashboard-intro-text
    %p.slead
      你现在不能访问任何项目。
      %br
      - if current_user.can_create_project?
        你可以最多创建
        %strong= pluralize(current_user.projects_limit, "个项目", "个项目") + "。"
      - else
        如果你加入了项目，它将会显示在这里。

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          %i.fa.fa-plus
          新项目

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-users
    .dashboard-intro-text
      %p.slead
        你可以创建一个存放多个相关项目的群组。
        %br
        群组是管理项目和成员的最佳方式。
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          %i.fa.fa-plus
          新群组

-if publicish_project_count > 0
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-globe
    .dashboard-intro-text
      %p.slead
        此服务器上有
        %strong= publicish_project_count
        个公开项目。
        %br
        公开项目允许所有人都可以只读访问。
      .link_holder
        = link_to trending_explore_projects_path, class: "btn btn-new" do
          浏览公开项目
