%div
  %h1
    GitLab
    Community Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLab 是用于代码协作的开源软件。
    %br
    Manage git repositories with fine-grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    了解 Gitlab 更多内容请访问 #{link_to promo_host, promo_url, target: '_blank'}.
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        快速帮助
      %ul.well-list
        %li= link_to '查看我们的网站获取帮助', promo_url + '/getting-help/'
        %li= link_to '使用页面顶部的搜索功能', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to '键盘快捷键', '#', onclick: 'Shortcuts.showHelp(event)'
        %li= link_to '获取技术支持订阅', 'https://about.gitlab.com/pricing/'
        %li= link_to '比较 GitLab 版本', 'https://about.gitlab.com/features/#compare'
