- page_title "GitLab.com 导入"
%h3.page-title
  %i.fa.fa-heart
  从 GitLab.com 导入项目

%p.light
  选择要导入的项目。
%hr
%p
  = button_tag '导入所有项目', class: "btn btn-success js-import-all"

%table.table.import-jobs
  %thead
    %tr
      %th 从 GitLab.com
      %th 到此 GitLab 实例
      %th 状态
  %tbody
    - @already_added_projects.each do |project|
      %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
        %td
          = link_to project.import_source, "https://gitlab.com/#{project.import_source}", target: "_blank"
        %td
          %strong= link_to project.path_with_namespace, [project.namespace.becomes(Namespace), project]
        %td.job-status
          - if project.import_status == 'finished'
            %span
              %i.fa.fa-check
              完成
          - elsif project.import_status == 'started'
            %i.fa.fa-spinner.fa-spin
            已开始
          - else
            = project.human_import_status_name

    - @repos.each do |repo|
      %tr{id: "repo_#{repo["id"]}"}
        %td
          = link_to repo["path_with_namespace"], "https://gitlab.com/#{repo["path_with_namespace"]}", target: "_blank"
        %td.import-target
          = repo["path_with_namespace"]
        %td.import-actions.job-status
          = button_tag "导入", class: "btn js-add-to-import"

:coffeescript
  new ImporterStatus("#{jobs_import_gitlab_path}", "#{import_gitlab_path}")
