- if params[:view] == 'parallel'
  - fluid_layout true

.gray-content-block.second-block
  .inline-parallel-buttons
    .btn-group
      = inline_diff_btn
      = parallel_diff_btn
  = render 'projects/diffs/stats', diffs: diffs

- diff_files = safe_diff_files(diffs)

- if diff_files.count < diffs.size
  = render 'projects/diffs/warning', diffs: diffs, shown_files_count: diff_files.count

.files
  - diff_files.each_with_index do |diff_file, index|
    = render 'projects/diffs/file', diff_file: diff_file, i: index, project: project

- if @diff_timeout
  .alert.alert-danger
    %h4
      搜集修改失败
    %p
      可能是差异非常大造成操作超时。请在本地重试
