#up-build-trace
- if @commit.matrix?
  %ul.center-top-menu
    - @commit.builds_without_retry_sorted.each do |build|
      %li{class: ('active' if build == @build) }
        = link_to ci_project_build_url(@project, build) do
          = ci_icon_for_status(build.status)
          %span
            - if build.name
              = build.name
            - else
              = build.id


    - unless @commit.builds_without_retry.include?(@build)
      %li.active
        %a
          构建 ##{@build.id}
          &middot;
          %i.fa.fa-warning-sign
          此构建已重试。

.gray-content-block
  .build-head
    %h4
      - if @build.commit.tag?
        标签
        %code #{@build.ref}
        的构建
      - else
        从

        = link_to ci_project_path(@build.project, ref: @build.ref) do
          %strong.monospace= "#{@build.ref}"
        提交
        %strong.monospace= commit_link(@build.commit)
        的构建

      - if @build.duration
        .pull-right
          %span
            %i.fa.fa-time
            #{duration_in_words(@build.finished_at, @build.started_at)}

    .clearfix
      = ci_status_with_icon(@build.status)
      .pull-right
        = @build.updated_at.stamp('08-27 19:00')

.row.prepend-top-default
  .col-md-9
    .clearfix
      - if @build.active?
        .autoscroll-container
          %button.btn.btn-success.btn-sm#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} enable autoscroll
        .clearfix
    .scroll-controls
      = link_to '#up-build-trace', class: 'btn' do
        %i.fa.fa-angle-up
      = link_to '#down-build-trace', class: 'btn' do
        %i.fa.fa-angle-down

    %pre.trace#build-trace
      %code.bash
        = preserve do
          = raw @build.trace_html
    %div#down-build-trace

  .col-md-3
    - if @build.coverage
      .build-widget
        %h4.title
          测试覆盖
        %h1 #{@build.coverage}%


    .build-widget
      %h4.title
        构建
        - if current_user && can?(current_user, :manage_builds, gl_project)
          .pull-right
            - if @build.active?
              = link_to "取消", cancel_ci_project_build_path(@project, @build), class: 'btn btn-sm btn-danger'
            - elsif @build.commands.present?
              = link_to "重试", retry_ci_project_build_path(@project, @build), class: 'btn btn-sm btn-primary', method: :post

      - if @build.duration
        %p
          %span.attr-name 运行时间：
          #{duration_in_words(@build.finished_at, @build.started_at)}
      %p
        %span.attr-name 创建时间：
        #{time_ago_in_words(@build.created_at)}之前
      - if @build.finished_at
        %p
          %span.attr-name 结束时间：
          #{time_ago_in_words(@build.finished_at)}之前
      %p
        %span.attr-name Runner：
        - if @build.runner && current_user && current_user.admin
          \#{link_to "##{@build.runner.id}", ci_admin_runner_path(@build.runner.id)}
        - elsif @build.runner
          \##{@build.runner.id}

    - if @build.trigger_request
      .build-widget
        %h4.title
          触发

        %p
          %span.attr-name 授权码：
          #{@build.trigger_request.trigger.short_token}

        - if @build.trigger_request.variables
          %p
            %span.attr-name 变量：

          %code
            - @build.trigger_request.variables.each do |key, value|
              #{key}=#{value}

    .build-widget
      %h4.title
        提交
        .pull-right
          %small #{build_commit_link @build}

      - if @build.commit.compare?
        %p
          %span.attr-name 比较：
          #{build_compare_link @build}
      %p
        %span.attr-name 分支：
        #{build_ref_link @build}
      %p
        %span.attr-name 作者：
        #{@build.commit.git_author_name}
      %p
        %span.attr-name 信息：
        #{@build.commit.git_commit_message}

    - if @build.tags.any?
      .build-widget
        %h4.title
          标签
        - @build.tag_list.each do |tag|
          %span.label.label-primary
            = tag

    - if @builds.present?
      .build-widget
        %h4.title #{@build.short_sha} 的 #{pluralize(@builds.count, "个其他构建", "个其他构建")}：
        %table.builds
          - @builds.each_with_index do |build, i|
            %tr.build
              %td
                = ci_icon_for_status(build.status)
              %td
                = link_to ci_project_build_url(@project, build) do
                  - if build.name
                    = build.name
                  - else
                    %span ##{build.id}

              %td.status= build.status


        = paginate @builds


:javascript
  new CiBuild("#{ci_project_build_url(@project, @build)}", "#{@build.status}")
