%ul.center-top-menu
  = nav_link(page: dashboard_groups_path) do
    = link_to dashboard_groups_path, title: '所属群组', data: {placement: 'right'} do
      你的群组
  = nav_link(page: explore_groups_path) do
    = link_to explore_groups_path, title: '浏览群组', data: {placement: 'bottom'} do
      浏览群组
