%li.timeline-entry{ id: dom_id(note), class: [dom_class(note), "note-row-#{note.id}", ('system-note' if note.system)], data: { discussion: note.discussion_id } }
  .timeline-entry-inner
    .timeline-icon
      = link_to user_path(note.author) do
        = image_tag avatar_icon(note.author_email), class: 'avatar s40', alt: ''
    .timeline-content
      .note-header
        - if note_editable?(note)
          .note-actions
            = link_to '#', title: '编辑评论', class: 'js-note-edit' do
              = icon('pencil-square-o')

            = link_to namespace_project_note_path(note.project.namespace, note.project, note), title: '删除评论', method: :delete, data: { confirm: '确定要删除评论么？' }, remote: true, class: 'js-note-delete danger' do
              = icon('trash-o')

        - unless note.system
          - member = note.project.team.find_member(note.author.id)
          - if member
            %span.note-role.label
              = member.human_access

        = link_to_member(note.project, note.author, avatar: false)

        %span.author-username
          = '@' + note.author.username

        %span.note-last-update
          = link_to "##{dom_id(note)}", name: dom_id(note), title: "链接" do
            = time_ago_with_tooltip(note.created_at, placement: 'bottom', html_class: 'note_created_ago')
          - if note.updated_at != note.created_at
            %span
              &middot;
              = icon('edit', title: '编辑时间')
              = time_ago_with_tooltip(note.updated_at, placement: 'bottom', html_class: 'note_edited_ago')
              - if note.updated_by && note.updated_by != note.author
                by #{link_to_member(note.project, note.updated_by, avatar: false, author_class: nil)}

        - if note.superceded?(@notes)
          - if note.upvote?
            %span.vote.upvote.label.label-gray.strikethrough
              = icon('thumbs-up')
              \+1
          - if note.downvote?
            %span.vote.downvote.label.label-gray.strikethrough
              = icon('thumbs-down')
              \-1
        - else
          - if note.upvote?
            %span.vote.upvote.label.label-success
              = icon('thumbs-up')
              \+1
          - if note.downvote?
            %span.vote.downvote.label.label-danger
              = icon('thumbs-down')
              \-1


      .note-body{class: note_editable?(note) ? 'js-task-list-container' : ''}
        .note-text
          = preserve do
            = markdown(note.note, {no_header_anchors: true})
        = render 'projects/notes/edit_form', note: note

      - if note.attachment.url
        .note-attachment
          - if note.attachment.image?
            = link_to note.attachment.url, target: '_blank' do
              = image_tag note.attachment.url, class: 'note-image-attach'
          .attachment
            = link_to note.attachment.url, target: '_blank' do
              = icon('paperclip')
              = note.attachment_identifier
              = link_to delete_attachment_namespace_project_note_path(note.project.namespace, note.project, note),
                title: '删除此附件', method: :delete, remote: true, data: { confirm: '确定要删除此附件么？' }, class: 'danger js-note-attachment-delete' do
                = icon('trash-o', class: 'cred')
      .clear
