%ul.nav.nav-sidebar
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: 'home'}) do
    = link_to root_path, title: '项目', data: {placement: 'right'} do
      = icon('home fw')
      %span
        项目
  = nav_link(path: 'dashboard#activity') do
    = link_to activity_dashboard_path, class: 'shortcuts-activity', title: '活动', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        活动
  = nav_link(controller: :groups) do
    = link_to dashboard_groups_path, title: '群组', data: {placement: 'right'} do
      = icon('group fw')
      %span
        群组
  = nav_link(controller: :milestones) do
    = link_to dashboard_milestones_path, title: '里程碑', data: {placement: 'right'} do
      = icon('clock-o fw')
      %span
        里程碑
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: '问题', class: 'shortcuts-issues', data: {placement: 'right'} do
      = icon('exclamation-circle fw')
      %span
        问题
        %span.count= current_user.assigned_issues.opened.count
    = nav_link(path: 'dashboard#merge_requests') do
      = link_to assigned_mrs_dashboard_path, title: '合并请求', class: 'shortcuts-merge_requests', data: {placement: 'right'} do
        = icon('tasks fw')
        %span
          合并请求
          %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(path: ['ci/projects#index', 'ci/projects#disabled']) do
    = link_to ci_projects_path, title: '持续集成', data: {placement: 'right'} do
      = icon('building fw')
      %span
        持续集成
  = nav_link(controller: :snippets) do
    = link_to dashboard_snippets_path, title: '代码片段', data: {placement: 'right'} do
      = icon('clipboard fw')
      %span
        代码片段
  = nav_link(controller: :help) do
    = link_to help_path, title: '帮助', data: {placement: 'right'} do
      = icon('question-circle fw')
      %span
        帮助

  %li.separate-item
  = nav_link(controller: :profile) do
    = link_to profile_path, title: '个人资料设置', data: {placement: 'bottom'} do
      = icon('user fw')
      %span
        个人资料设置
