= form_for application, url: doorkeeper_submit_path(application), html: {class: 'form-horizontal', role: 'form'} do |f|
  - if application.errors.any?
    .alert.alert-danger
      %ul
        - application.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, "名称", class: 'control-label'

    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :redirect_uri, "重定向 URI", class: 'control-label'

    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control', required: true

      %span.help-block
        每个 URI 使用一行
      - if Doorkeeper.configuration.native_redirect_uri
        %span.help-block
          使用
          %code= Doorkeeper.configuration.native_redirect_uri
          作为本地测试

  .form-actions
    = f.submit '提交', class: "btn btn-create"
    = link_to "取消", applications_profile_path, class: "btn btn-cancel"
