%div
  = form_for [:profile, @key], html: { class: 'form-horizontal' } do |f|
    - if @key.errors.any?
      .alert.alert-danger
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :key, "公钥", class: 'control-label'
      .col-sm-10
        = f.text_area :key, class: "form-control", rows: 8
    .form-group
      = f.label :title, "标题", class: 'control-label'
      .col-sm-10= f.text_field :title, class: "form-control"

    .form-actions
      = f.submit '增加密钥', class: "btn btn-create"
      = link_to "取消", profile_keys_path, class: "btn btn-cancel"

