%tr
  %td
    = link_to path_to_key(key, is_admin) do
      %strong= key.title
  %td
    %code.key-fingerprint= key.fingerprint
  %td
    %span.cgray
      增加时间 #{time_ago_with_tooltip(key.created_at)}
  %td
    = link_to '删除', path_to_key(key, is_admin), data: { confirm: '确定要继续么？'}, method: :delete, class: "btn btn-sm btn-remove delete-key pull-right"
