%li
  .pull-right
    - if @available_keys.include?(deploy_key)
      = link_to enable_namespace_project_deploy_key_path(@project.namespace, @project, deploy_key), class: 'btn btn-sm', method: :put do
        = icon('plus')
        启用
    - else
      - if deploy_key.destroyed_when_orphaned? && deploy_key.almost_orphaned?
        = link_to '删除', disable_namespace_project_deploy_key_path(@project.namespace, @project, deploy_key), data: { confirm: '确定要删除部署密钥么？'}, method: :put, class: "btn btn-remove delete-key btn-sm pull-right"
      - else
        = link_to disable_namespace_project_deploy_key_path(@project.namespace, @project, deploy_key), class: 'btn btn-sm', method: :put do
          = icon('power-off')
          禁用

  = icon('key')
  %strong= deploy_key.title
  %br
  %code.key-fingerprint= deploy_key.fingerprint

  %p.light.prepend-top-10
    - if deploy_key.public?
      %span.label.label-info.deploy-project-label
        公开的部署密钥

    - deploy_key.projects.each do |project|
      - if can?(current_user, :read_project, project)
        %span.label.label-gray.deploy-project-label
          = link_to namespace_project_path(project.namespace, project) do
            = project.name_with_namespace

    %small.pull-right
      创建时间 #{time_ago_with_tooltip(deploy_key.created_at)}
