%div
  = form_for [@project.namespace.becomes(Namespace), @project, @key], url: namespace_project_deploy_keys_path, html: { class: 'deploy-key-form form-horizontal' } do |f|
    -if @key.errors.any?
      .alert.alert-danger
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :title, '标题', class: "control-label"
      .col-sm-10= f.text_field :title, class: 'form-control'
    .form-group
      = f.label :key, '公钥', class: "control-label"
      .col-sm-10
        %p.light
          在这里粘贴机器 SSH 公钥。如何生成请点击
          = link_to "这里", help_page_path("ssh", "README")
          了解更多
        = f.text_area :key, class: "form-control thin_area", rows: 5

    .form-actions
      = f.submit '创建', class: "btn-create btn"
      = link_to "取消", namespace_project_deploy_keys_path(@project.namespace, @project), class: "btn btn-cancel"

