- page_title "问题"
- header_title group_title(@group, "问题", issues_group_path(@group))
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, issues_group_url(@group, format: :atom, private_token: current_user.private_token), title: "#{@group.name} issues")



= render 'shared/issuable/filter', type: :issues
.gray-content-block.second-block
  .pull-right
    - if current_user
      .hidden-xs.pull-left
        = link_to issues_group_url(@group, format: :atom, private_token: current_user.private_token) do
          %i.fa.fa-rss
  %div
    仅
    %strong #{@group.name}
    群组的问题显示在此处。
    - if current_user
      请到#{link_to '仪表盘', issues_dashboard_path}页面访问所有问题。

.prepend-top-default
  = render 'shared/issues'
