- page_title "合并请求"
- header_title group_title(@group, "合并请求", merge_requests_group_path(@group))

= render 'shared/issuable/filter', type: :merge_requests
.gray-content-block.second-block
  %div
    仅
    %strong #{@group.name}
    群组的合并请求显示在此处。
    - if current_user
      请到#{link_to '仪表盘', merge_requests_dashboard_path}页面访问所有合并请求。
.prepend-top-default
  = render 'shared/merge_requests'
