%h4.prepend-top-20
  %span.light 贡献
  %strong #{@calendar_date.to_s(:short)}

%ul.bordered-list
  - @events.sort_by(&:created_at).each do |event|
    %li
      %span.light
        %i.fa.fa-clock-o
        = event.created_at.to_s(:time)
      - if event.push?
        #{event.action_name} #{event.ref_type} #{event.ref_name}
      - else
        = event_action_name(event)
        - if event.target
          %strong= link_to "##{event.target_iid}", [event.project.namespace.becomes(Namespace), event.project, event.target]

      at
      %strong
        - if event.project
          = link_to_project event.project
        - else
          = event.project_name
