- page_title    @user.name
- header_title  @user.name, user_path(@user)

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, user_url(@user, format: :atom), title: "#{@user.name} activity")

= render 'shared/show_aside'

.row
  %section.col-md-7
    .header-with-avatar
      = link_to avatar_icon(@user.email, 400), target: '_blank' do
        = image_tag avatar_icon(@user.email, 90), class: "avatar avatar-tile s90", alt: ''
      %h3
        = @user.name
        - if @user == current_user
          .pull-right.hidden-xs
            = link_to profile_path, class: 'btn btn-sm' do
              = icon('user')
              个人资料设置
        - elsif current_user
          .pull-right
            %span.dropdown
              %a.light.dropdown-toggle.btn.btn-sm{href: '#', "data-toggle" => "dropdown"}
                = icon('exclamation-circle')
              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to new_abuse_report_path(user_id: @user.id) do
                    举报滥用

      .username
        @#{@user.username}
      .description
        - if @user.bio.present?
          = @user.bio

    .clearfix

    - if @groups.any?
      .prepend-top-20
        %h4 群组
        = render 'groups', groups: @groups
        %hr

    .hidden-xs
      .user-calendar
        %h4.center.light
          %i.fa.fa-spinner.fa-spin
      .user-calendar-activities
      %hr
    %h4
      用户活动

      - if current_user
        %span.rss-icon.pull-right
          = link_to user_path(@user, :atom, { private_token: current_user.private_token }) do
            %strong
              %i.fa.fa-rss

    .content_list
    = spinner
  %aside.col-md-5
    = render 'profile', user: @user
    = render 'projects', projects: @projects, contributed_projects: @contributed_projects

:coffeescript
  $(".user-calendar").load("#{user_calendar_path}")
