- if markup?(blob.name)
  .file-content.wiki
    = render_markup(blob.name, blob.data)
- else
  .file-content.code
    - unless blob.empty?
      = render 'shared/file_highlight', blob: blob
    - else
      .nothing-here-block 空文件
