#modal-upload-blob.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title #{title}
        %p.light
          来自分支
          %strong= @ref
      .modal-body
        = form_tag form_path, method: method, class: 'blob-file-upload-form-js form-horizontal' do
          .dropzone
            .dropzone-previews.blob-upload-dropzone-previews
              %p.dz-message.light
                拖放文件到此处或者
                = link_to '点击上传', '#', class: "markdown-selector"
          %br
          .dropzone-alerts{class: "alert alert-danger data", style: "display:none"}
          = render 'shared/commit_message_container', params: params,
            placeholder: placeholder
          .form-group
            .col-sm-offset-2.col-sm-10
              = button_tag button_title, class: 'btn btn-small btn-primary btn-upload-file', id: 'submit-all'
              = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

:coffeescript
  disableButtonIfEmptyField $('.blob-file-upload-form-js').find('#commit_message'), '.btn-upload-file'
  new BlobFileDropzone($('.blob-file-upload-form-js'), '#{method}')
