- page_title "新文件", @path.presence, @ref
= render "header_title"

.gray-content-block.top-block
  创建新文件或者
  = link_to '上传', '#modal-upload-blob',
    { class: 'upload-link', 'data-target' => '#modal-upload-blob', 'data-toggle' => 'modal'}
  已存在的文件

= render 'projects/blob/upload', title: '上传', placeholder: 'Upload new file', button_title: '上传文件', form_path: namespace_project_create_blob_path(@project.namespace, @project, @id), method: :post

.file-editor
  = form_tag(namespace_project_create_blob_path(@project.namespace, @project, @id), method: :post, class: 'form-horizontal form-new-file js-requires-input') do
    = render 'projects/blob/editor', ref: @ref
    = render 'shared/commit_message_container', params: params,
             placeholder: '增加新文件'

    - unless @project.empty_repo?
      .form-group.branch
        = label_tag 'branch', class: 'control-label' do
          分支
        .col-sm-10
          = text_field_tag 'new_branch', @ref, class: "form-control"

    = hidden_field_tag 'content', '', id: 'file-content'
    = render 'projects/commit_button', ref: @ref,
              cancel_path: namespace_project_tree_path(@project.namespace, @project, @id)

:javascript
  blob = new NewBlob(gon.relative_url_root + "#{Gitlab::Application.config.assets.prefix}", null)
