- page_title "成员"
= render "header_title"

.gray-content-block.top-block
  .clearfix.js-toggle-container
    = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form'  do
      .form-group
        = search_field_tag :search, params[:search], { placeholder: '使用名称查找已存在的成员', class: 'form-control search-text-input' }
      = button_tag '搜索', class: 'btn'

    - if can?(current_user, :admin_project_member, @project)
      %span.pull-right
        = button_tag class: 'btn btn-new btn-grouped js-toggle-button', type: 'button' do
          增加成员
          %i.fa.fa-chevron-down
        = link_to import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-grouped", title: "从其他项目导入成员" do
          导入成员

      .js-toggle-content.hide.new-group-member-holder
        = render "new_project_member"

%p.prepend-top-default.light
  可以访问此项目的用户全部显示在下面。
  关于项目权限的更多内容请参阅
  %strong= link_to "这里", help_page_path("permissions", "permissions"), class: "vlink"

= render "team", members: @project_members

- if @group
  = render "group_members", members: @group_members

:coffeescript
  $('form.member-search-form').on 'submit', (event) ->
    event.preventDefault()
    Turbolinks.visit @.action + '?' + $(@).serialize()
