.pull-left
  = form_tag explore_projects_filter_path, method: :get, class: 'form-inline form-tiny' do |f|
    .form-group
      = search_field_tag :search, params[:search], placeholder: "按名称过滤", class: "form-control search-text-input", id: "projects_search"
    .form-group
      = button_tag '搜索', class: "btn btn-success"

.pull-right.hidden-sm.hidden-xs
  - if current_user
    .dropdown.inline.append-right-10
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %i.fa.fa-globe
        %span.light 可见度：
        - if params[:visibility_level].present?
          = visibility_level_label(params[:visibility_level].to_i)
        - else
          任何
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_projects_filter_path(visibility_level: nil) do
            任何
        - Gitlab::VisibilityLevel.values.each do |level|
          %li{ class: (level.to_s == params[:visibility_level]) ? 'active' : 'light' }
            = link_to explore_projects_filter_path(visibility_level: level) do
              = visibility_level_icon(level)
              = visibility_level_label(level)

  - if @tags.present?
    .dropdown.inline.append-right-10
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %i.fa.fa-tags
        %span.light 标签：
        - if params[:tag].present?
          = params[:tag]
        - else
          任何
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_projects_filter_path(tag: nil) do
            任何

        - @tags.each do |tag|
          %li{ class: (tag.name == params[:tag]) ? 'active' : 'light' }
            = link_to explore_projects_filter_path(tag: tag.name) do
              %i.fa.fa-tag
              = tag.name
  = render 'explore/projects/dropdown'
