- page_title    "项目"
- header_title  "项目", root_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.explore-trending-block
  .gray-content-block
    .pull-right
      = render 'explore/projects/dropdown'
    .oneline
      %i.fa.fa-star
      查看最多星标的项目
  = render 'projects', projects: @starred_projects
  = paginate @starred_projects, theme: 'gitlab'
