= render 'projects/last_push'
.gray-content-block.activity-filter-block
  - if current_user
    %ul.nav.nav-pills.event_filter.pull-right
      %li
        = link_to namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "动态", class: 'rss-btn' do
          %i.fa.fa-rss

  = render 'shared/event_filter'
.content_list{:"data-href" => activity_project_path(@project)}
= spinner

:coffeescript
  new Activities()
