.md-area
  .md-header.clearfix
    %ul.center-top-menu
      %li.active
        = link_to '#md-write-holder', class: 'js-md-write-button', tabindex: '-1' do
          编写
      %li
        = link_to '#md-preview-holder', class: 'js-md-preview-button', tabindex: '-1' do
          预览

    - if defined?(referenced_users) && referenced_users
      %span.referenced-users.pull-left.hide
        = icon('exclamation-triangle')
        添加了
        %strong
          %span.js-referenced-users-count 0
          人
        到此讨论。请谨慎行事。

  %div
    .md-write-holder
      = yield
    .md.md-preview-holder.hide
      .js-md-preview{class: (preview_class if defined?(preview_class))}
