<%= @project.name %> 构建失败

状态：     <%= @build.status %>
提交：     <%= @build.commit.short_sha %>
作者：     <%= @build.commit.git_author_name %>
分支：     <%= @build.commit.ref %>
信息：     <%= @build.commit.git_commit_message %>

链接：     <%= ci_project_build_url(@build.project, @build) %>
