- if @merge_request.has_ci?
  .mr-widget-heading
    - [:success, :skipped, :canceled, :failed, :running, :pending].each do |status|
      .ci_widget{class: "ci-#{status}", style: "display:none"}
        - if status == :success
          - status = "passed"
          = icon("check-circle")
        - else
          = icon("circle")
        #{@merge_request.last_commit_short_sha} 的
        %span CI 构建 #{status}。
        %span.ci-coverage
        - if ci_build_details_path(@merge_request)
          = link_to "查看构建页面", ci_build_details_path(@merge_request), :"data-no-turbolink" => "data-no-turbolink"

    .ci_widget
      = icon("spinner spin")
      正在检查 #{@merge_request.last_commit_short_sha} 的构建状态&hellip;

    .ci_widget.ci-not_found{style: "display:none"}
      = icon("times-circle")
      在 CI 服务器上无法找到 #{@merge_request.last_commit_short_sha} 的提交。

    .ci_widget.ci-error{style: "display:none"}
      = icon("times-circle")
      无法连接到 CI 服务器。请检查相关设置并重试。

  :coffeescript
    $ ->
      merge_request_widget.getCiStatus()
