%tr
  %td
    .clearfix
      %span.monospace= trigger.token

  %td
    - if trigger.last_trigger_request
      #{time_ago_in_words(trigger.last_trigger_request.created_at)}之前
    - else
      从未

  %td
    .pull-right
      = link_to '撤销', ci_project_trigger_path(@project, trigger), data: { confirm: '确定要继续么？'}, method: :delete, class: "btn btn-danger btn-sm btn-grouped"
