- page_title "审查", @blob.path, @ref
- header_title project_title(@project, "文件", project_files_path(@project))

%h3.page-title 审查视图

#tree-holder.tree-holder
  .file-holder
    .file-title
      %i.fa.fa-file
      %strong
        = @path
      %small= number_to_human_size @blob.size
      .file-actions
        = render "projects/blob/actions"
    .file-content.blame.highlight
      %table
        - current_line = 1
        - @blame.each do |blame_group|
          %tr
            %td.blame-commit
              .commit
                - commit = Commit.new(blame_group[:commit], @project)
                .commit-row-title
                  %strong
                    = link_to_gfm truncate(commit.title, length: 35), namespace_project_commit_path(@project.namespace, @project, commit.id), class: "cdark"
                  .pull-right
                    = link_to commit.short_id, namespace_project_commit_path(@project.namespace, @project, commit), class: "monospace"
                  &nbsp;
                .light
                  = commit_author_link(commit, avatar: false)
                  authored
                  #{time_ago_with_tooltip(commit.committed_date, skip_js: true)}
            %td.lines.blame-numbers
              %pre
                - line_count = blame_group[:lines].count
                - (current_line...(current_line + line_count)).each do |i|
                  = i
                  \
                - current_line += line_count
            %td.lines
              %pre{class: 'code highlight white'}
                %code
                  - blame_group[:lines].each do |line|
                    :erb
                      <%= highlight(@blob.name, line, nowrap: true, continue: true).html_safe %>

