%h3.page-title= @milestone.new_record? ? "新里程碑" : "编辑里程碑 ##{@milestone.iid}"
.back-link
  = link_to namespace_project_milestones_path(@project.namespace, @project) do
    &larr; 返回到里程碑

%hr

= form_for [@project.namespace.becomes(Namespace), @project, @milestone], html: {class: 'form-horizontal milestone-form gfm-form js-requires-input'}  do |f|
  -if @milestone.errors.any?
    .alert.alert-danger
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :title, "标题", class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control", required: true
          %p.hint 必须的
      .form-group.milestone-description
        = f.label :description, "描述", class: "control-label"
        .col-sm-10
          = render layout: 'projects/md_preview', locals: { preview_class: "md-preview" } do
            = render 'projects/zen', f: f, attr: :description, classes: 'description form-control'
            .hint
              .pull-left 里程碑被解析为 #{link_to "GitLab 特色 Markdown", help_page_path("markdown", "markdown"), target: '_blank'} 格式。
              .pull-left 可以拖放或#{link_to "选择文件", '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。
          .clearfix
          .error-alert
    .col-md-6
      .form-group
        = f.label :due_date, "到期日", class: "control-label"
        .col-sm-10= f.hidden_field :due_date
        .col-sm-10
          .datepicker

  .form-actions
    - if @milestone.new_record?
      = f.submit '创建里程碑', class: "btn-create btn"
      = link_to "取消", namespace_project_milestones_path(@project.namespace, @project), class: "btn btn-cancel"
    -else
      = f.submit '保存修改', class: "btn-save btn"
      = link_to "取消", namespace_project_milestone_path(@project.namespace, @project, @milestone), class: "btn btn-cancel"


:javascript
  $.datepicker.regional['zh-CN'] = {
    closeText: '关闭',
    prevText: '&#x3C;上月',
    nextText: '下月&#x3E;',
    currentText: '今天',
    monthNames: ['一月','二月','三月','四月','五月','六月',
    '七月','八月','九月','十月','十一月','十二月'],
    monthNamesShort: ['一月','二月','三月','四月','五月','六月',
    '七月','八月','九月','十月','十一月','十二月'],
    dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
    dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
    dayNamesMin: ['日','一','二','三','四','五','六'],
    weekHeader: '周',
    isRTL: false,
    showMonthAfterYear: true,
    yearSuffix: '年'
  };
  $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
  $( ".datepicker" ).datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#milestone_due_date').val()));
