%li{id: dom_id(label)}
  = link_to_label(label)
  .pull-right
    %strong.append-right-20
      = link_to_label(label) do
        = pluralize label.open_issues_count, '个未关闭问题', '个未关闭问题'

    - if can? current_user, :admin_label, @project
      = link_to '编辑', edit_namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm'
      = link_to '删除', namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm btn-remove remove-row', method: :delete, remote: true, data: {confirm: "确定要删除这个标记么？"}
