#{@author.name} #{@action_name} #{@ref_type} #{@ref_name} 在 #{@project.name_with_namespace}
- if @compare
  \
  \
  - if @reverse_compare
    警告：此推送不包含任何提交，但强制推送会删除下面的提交和变更。
    \
    \
  = @reverse_compare ? "删除的提交；" : "提交；"
  - @commits.each do |commit|
    #{commit.short_id} 由 #{commit.author_name} 在 #{commit.committed_date.strftime("%Y-%m-%dT%H:%M:%SZ")}
    #{commit.safe_message}
    \- - - - -
  \
  \
  #{pluralize @diffs.count, "个修改的文件", "个修改的文件"}:
  \
  - @diffs.each do |diff|
    - if diff.deleted_file
      \- − #{diff.old_path}
    - elsif diff.renamed_file
      \- #{diff.old_path} → #{diff.new_path}
    - elsif diff.new_file
      \- + #{diff.new_path}
    - else
      \- #{diff.new_path}
  - unless @disable_diffs
    \
    \
    变更：
    - @diffs.each do |diff|
      \
      \=====================================
      - if diff.deleted_file
        #{diff.old_path} 已删除
      - elsif diff.renamed_file
        #{diff.old_path} → #{diff.new_path}
      - else
        = diff.new_path
      \=====================================
      != diff.diff
  - if @compare.timeout
    \
    \
    巨大差异。因为性能原因隐藏问题变更
  - if @target_url
    \
    \
    在 GitLab 上查看: #{@target_url}
