- if current_user
  = link_to toggle_star_namespace_project_path(@project.namespace, @project), class: 'btn star-btn toggle-star', method: :post, remote: true do
    = icon('star fw')
    - if current_user.starred?(@project)
      取消星标
    - else
      加注星标
    %span.count
      = @project.star_count

  :coffeescript
    $('.project-home-panel .toggle-star').on 'ajax:success', (e, data, status, xhr) ->
      $(@).replaceWith(data.html)
    .on 'ajax:error', (e, xhr, status, error) ->
      new Flash('切换星标失败。请稍后重试。', 'alert')

- else
  = link_to new_user_session_path, class: 'btn has_tooltip star-btn', title: '必须登入后才能给项目加注星标' do
    = icon('star fw')
    星标
    %span.count
      = @project.star_count
