- page_title "项目", @user.name, "用户"
= render 'admin/users/head'

- if @user.groups.any?
  .panel.panel-default
    .panel-heading 群组项目
    %ul.well-list
      - @user.groups.each do |group|
        %li
          %strong= group.name
          &ndash; 访问
          #{pluralize(group.projects.count, '个项目', '个项目')}

.row
  .col-md-6
    - if @personal_projects.present?
      = render 'users/projects', projects: @personal_projects
    - else
      .nothing-here-block 此用户没有个人项目。


  .col-md-6
    .panel.panel-default
      .panel-heading 加入的项目 (#{@joined_projects.count})
      %ul.well-list
        - @joined_projects.sort_by(&:name_with_namespace).each do |project|
          - member = project.team.find_member(@user.id)
          %li.project_member
            .list-item-name
              = link_to admin_namespace_project_path(project.namespace, project), class: dom_class(project) do
                = project.name_with_namespace

            - if member
              .pull-right
                - if member.owner?
                  %span.light 所有者
                - else
                  %span.light= member.human_access

                  - if member.respond_to? :project
                    = link_to namespace_project_project_member_path(project.namespace, project, member), data: { confirm: remove_from_project_team_message(project, member) }, remote: true, method: :delete, class: "btn-xs btn btn-remove", title: '从项目中删除用户' do
                      %i.fa.fa-times

