%h3.page-title
  = @service.title
  = boolean_to_icon @service.activated?

%p= @service.description

.back-link
  = link_to ci_project_services_path(@project) do
    &larr; 转到服务

%hr

= form_for(@service, as: :service, url: ci_project_service_path(@project, @service.to_param), method: :put, html: { class: 'form-horizontal' }) do |f|
  - if @service.errors.any?
    .alert.alert-danger
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  - if @service.help.present?
    .bs-callout
      = @service.help

  .form-group
    = f.label :active, "有效的", class: "control-label"
    .col-sm-10
      = f.check_box :active

  - @service.fields.each do |field|
    - name = field[:name]
    - label = field[:label] || name
    - value = @service.send(name)
    - type = field[:type]
    - placeholder = field[:placeholder]
    - choices = field[:choices]
    - default_choice = field[:default_choice]
    - help = field[:help]

    .form-group
      = f.label label, class: "control-label"
      .col-sm-10
        - if type == 'text'
          = f.text_field name, class: "form-control", placeholder: placeholder
        - elsif type == 'textarea'
          = f.text_area name, rows: 5, class: "form-control", placeholder: placeholder
        - elsif type == 'checkbox'
          = f.check_box name
        - elsif type == 'select'
          = f.select name, options_for_select(choices, value ? value : default_choice), {}, { class: "form-control" }
        - if help
          .light #{help}

  .form-actions
    = f.submit '保存', class: 'btn btn-save'
    &nbsp;
    - if @service.valid? && @service.activated? && @service.can_test?
      = link_to '测试设置', test_ci_project_service_path(@project, @service.to_param), class: 'btn'
