- content_for :note_actions do
  - if can?(current_user, :update_merge_request, @merge_request)
    - if @merge_request.open?
      = link_to '关闭', merge_request_path(@merge_request, merge_request: {state_event: :close }), method: :put, class: "btn btn-grouped btn-close close-mr-link js-note-target-close", title: "关闭合并请求"
    - if @merge_request.closed?
      = link_to '重新打开', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link js-note-target-reopen", title: "重新打开合并请求"

= render 'shared/show_aside'

.gray-content-block.second-block
  .row
    .col-md-9
      .votes-holder.pull-right
        #votes= render 'votes/votes_block', votable: @merge_request
      = render "projects/merge_requests/show/participants"
    .col-md-3
      %span.slead.has_tooltip{:"data-original-title" => '交叉项目参考'}
        = cross_project_reference(@project, @merge_request)

.row
  %section.col-md-9
    = render "projects/notes/notes_with_form"
  %aside.col-md-3
    .issuable-affix
      .context
        = render 'shared/issuable/context', issuable: @merge_request

      - if @merge_request.labels.any?
        .issuable-context-title
          %label 标记
        .merge-request-show-labels
          - @merge_request.labels.each do |label|
            = link_to_label(label)
