%p.lead 比较新合并请求的分支

= form_for [@project.namespace.becomes(Namespace), @project, @merge_request], url: new_namespace_project_merge_request_path(@project.namespace, @project), method: :get, html: { class: "merge-request-form form-inline js-requires-input" } do |f|
  .hide.alert.alert-danger.mr-compare-errors
  .merge-request-branches.row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %strong 来源分支
        .panel-body
          = f.select(:source_project_id, [[@merge_request.source_project_path,@merge_request.source_project.id]] , {}, { class: 'source_project select2 span3', disabled: @merge_request.persisted?, required: true })
          &nbsp;
          = f.select(:source_branch, @merge_request.source_branches, { include_blank: "选择分支" }, {class: 'source_branch select2 span2', required: true})
        .panel-footer
          .mr_source_commit

    .col-md-6
      .panel.panel-default
        .panel-heading
          %strong 目标分支
        .panel-body
          - projects =  @project.forked_from_project.nil? ? [@project] : [@project, @project.forked_from_project]
          = f.select(:target_project_id, options_from_collection_for_select(projects, 'id', 'path_with_namespace', f.object.target_project_id), {}, { class: 'target_project select2 span3', disabled: @merge_request.persisted?, required: true })
          &nbsp;
          = f.select(:target_branch, @merge_request.target_branches, { include_blank: "选择分支" }, {class: 'target_branch select2 span2', required: true})
        .panel-footer
          .mr_target_commit

  - if @merge_request.errors.any?
    .alert.alert-danger
      - @merge_request.errors.full_messages.each do |msg|
        %div= msg

  - elsif @merge_request.source_branch.present? && @merge_request.target_branch.present?
    - if @merge_request.compare_failed
      .alert.alert-danger
        %h4 合并失败
        %p 无法合并选择的分支。可能是因为差异巨大或版本库处理超时。请重试或者选择其他的分支。
    - else
      .light-well.append-bottom-10
        .center
          %h4
            没有任何内容合并。
          %p.slead
            - if @merge_request.source_branch == @merge_request.target_branch
              必须使用不同的分支名来比较。
            - else
              %span.label-branch #{@merge_request.source_branch}
              和
              %span.label-branch #{@merge_request.target_branch}
              是一样的。


  %div
    = f.submit '比较分支', class: "btn btn-new mr-compare-btn"

:javascript
  var source_branch = $("#merge_request_source_branch")
    , target_branch = $("#merge_request_target_branch")
    , target_project = $("#merge_request_target_project_id");

  $.get("#{branch_from_namespace_project_merge_requests_path(@source_project.namespace, @source_project)}", {ref: source_branch.val() });
  $.get("#{branch_to_namespace_project_merge_requests_path(@source_project.namespace, @source_project)}", {target_project_id: target_project.val(),ref: target_branch.val() });

  target_project.on("change", function() {
    $.get("#{update_branches_namespace_project_merge_requests_path(@source_project.namespace, @source_project)}", {target_project_id:  $(this).val() });
  });
  source_branch.on("change", function() {
    $.get("#{branch_from_namespace_project_merge_requests_path(@source_project.namespace, @source_project)}", {ref: $(this).val() });
    $(".mr-compare-errors").fadeOut();
    $(".mr-compare-btn").enable();
  });
  target_branch.on("change", function() {
    $.get("#{branch_to_namespace_project_merge_requests_path(@source_project.namespace, @source_project)}", {target_project_id: target_project.val(),ref: $(this).val() });
    $(".mr-compare-errors").fadeOut();
    $(".mr-compare-btn").enable();
  });


:coffeescript

  $(".merge-request-form").on 'submit', ->
    if $("#merge_request_source_branch").val() is "" or $('#merge_request_target_branch').val() is ""
      $(".mr-compare-errors").html("必须选择来源和目标分支去处理")
      $(".mr-compare-errors").fadeIn()
      event.preventDefault()
      return

