- page_title "Web 钩子"
%h3.page-title
  Web 钩子

%p.light
  #{link_to "Web 钩子", help_page_path("web_hooks", "web_hooks"), class: "vlink"}用于在项目发生相关事件时通知外部服务器。

%hr.clearfix

= form_for [@project.namespace.becomes(Namespace), @project, @hook], as: :hook, url: namespace_project_hooks_path(@project.namespace, @project), html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "链接", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control", placeholder: 'http://example.com/trigger-ci.json'
  .form-group
    = f.label :url, "触发", class: 'control-label'
    .col-sm-10
      %div
        = f.check_box :push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :push_events, class: 'list-label' do
            %strong 推送事件
          %p.light
            推送仓库时将触发此链接
      %div
        = f.check_box :tag_push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :tag_push_events, class: 'list-label' do
            %strong 标签推送事件
          %p.light
            新标签推送仓库时将触发此链接
      %div
        = f.check_box :note_events, class: 'pull-left'
        .prepend-left-20
          = f.label :note_events, class: 'list-label' do
            %strong 评论
          %p.light
            增加新评论时将触发此链接
      %div
        = f.check_box :issues_events, class: 'pull-left'
        .prepend-left-20
          = f.label :issues_events, class: 'list-label' do
            %strong 问题事件
          %p.light
            问题创建时将触发此链接
      %div
        = f.check_box :merge_requests_events, class: 'pull-left'
        .prepend-left-20
          = f.label :merge_requests_events, class: 'list-label' do
            %strong 合并请求事件
          %p.light
            合并请求创建时将触发此链接
  .form-group
    = f.label :enable_ssl_verification, "SSL 验证证书", class: 'control-label checkbox'
    .col-sm-10
      .checkbox
        = f.label :enable_ssl_verification do
          = f.check_box :enable_ssl_verification
          %strong 开启 SSL 验证证书
  .form-actions
    = f.submit "增加 Web 钩子", class: "btn btn-create"

-if @hooks.any?
  .panel.panel-default
    .panel-heading
      Web 钩子 (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .pull-right
            = link_to '测试钩子', test_namespace_project_hook_path(@project.namespace, @project, hook), class: "btn btn-sm btn-grouped"
            = link_to '删除', namespace_project_hook_path(@project.namespace, @project, hook), data: { confirm: '确定要删除么？'}, method: :delete, class: "btn btn-remove btn-sm btn-grouped"
          .clearfix
            %span.monospace= hook.url
          %p
            - %w(push_events tag_push_events issues_events note_events merge_requests_events).each do |trigger|
              - if hook.send(trigger)
                %span.label.label-gray= trigger.titleize
            SSL Verification: #{hook.enable_ssl_verification ? "enabled" : "disabled"}
